################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Data.Edm.5.6.0
/packages/Microsoft.Data.OData.5.6.0
/packages/Microsoft.WindowsAzure.ConfigurationManager.1.8.0.0
/packages/Newtonsoft.Json.5.0.8
/packages/System.Spatial.5.6.0
/packages/WindowsAzure.Storage.3.0.0.0
/SCL3.Table.Tests/bin/Debug
/SCL3.Table.Tests/obj/Debug
